<div style="color: grey; padding: 20px;">
  <employee-count [empCount]="userDetails.length" (notifyParent)="triggerFunction($event)"></employee-count>
  <ng-container *ngFor="let user of userDetails">
      <div class="card" style="width: 12rem; margin: 10px; display: inline-block;">
        <img [src]="user.userImage" class="card-img-top" [alt]="user.userName">
        <div class="card-body">
          <h5 class="card-title">{{user.userName}}</h5>
          <p class="card-text">
            <span>User Age is: {{user.userAge}}</span><br/>
            <span>Salary is: {{user.userSalary}}</span>
          </p>
          <input type="button" value="Delete" (click)="deleteUser(user.id)"/>
        </div>
      </div>
  </ng-container ><br/><br/>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Add Employee
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <span style="display: inline-block; width: 200px;">Please Enter User Name</span><input type="text" [(ngModel)]="employeeName" /><br/><br/>
        <span style="display: inline-block; width: 200px;">Please Enter User Age</span><input type="text" [(ngModel)]="employeeAge" /><br/><br/>
        <span style="display: inline-block; width: 200px;">Please Enter User Salary</span><input type="text" [(ngModel)]="employeeSalary" /><br/><br/>
        <input type="button" (click)="addNewEmployee()" value="Add Employee" />
      </div>
    </div>
  </div>

</div>


</div>
